*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid pink;
}

.success {
    color: green;
    display: none;
}

.success.visible {
    display: block;
}